$sprite: url(../images/sprite.png) no-repeat;

$montserrat:"Montserrat-Regular"; 
$montserratBold:"Montserrat-Bold"; 
$montserratBlack:"Montserrat-Black"; 
$montserratExtraBold:"MontserratExtraBold"; 

$white: #fff;

 